@{
    ViewData["Title"] = "Bring Your Own Device Watcher";
}

<div class="row">
    <div class="text-left col-sm-4">
        <h1 class="display-4">Bring<br /> Your<br /> Own<br /> Device<br /> Watcher</h1>
    </div>


    <div class="text-left col-sm-8">
        <h2>BYOD Watcher listet deine Netzwerkgeräte auf und benachrichtigt dich, wenn ein neues Gerät im Netzwerk registriert wurde.</h2>
        <ul>
            <li>Gerätename</li>
            <li>IP Adresse</li>
            <li>Mac Adresse</li>
        </ul>
        <p>Mit diesen Informationen fällt es dir leicht zu prüfen, ob ein Gerät hier sein darf oder nicht.</p>
    </div>

</div>


<table class="table table-info">
    <tr>
        <th>Gerätename</th>
        <th>IP</th>
        <th>MAC</th>
    </tr>
    <tr>
        <td>x</td>
        <td>x</td>
        <td>x</td>
    </tr>
</table>
