@{
    ViewData["Title"] = "Bring Your Own Device Watcher";
}

<div class="row">
    <div class="text-left col-sm-4">
        <h1 class="display-4">Bring<br /> Your<br /> Own<br /> Device<br /> Watcher</h1>
    </div>


    <div class="text-left col-sm-8">
        <h2>BYOD Watcher listet deine Netzwerkgeräte auf und benachrichtigt dich, wenn ein neues Gerät im Netzwerk registriert wurde.</h2>
        <ul>
            <li>Gerätename</li>
            <li>IP Adresse</li>
            <li>Mac Adresse</li>
        </ul>
        <p>Mit diesen Informationen fällt es dir leicht zu prüfen, ob ein Gerät hier sein darf oder nicht.</p>
    </div>

</div>

<h3>Es sind @ViewBag.AmountOfHosts Geräte bekannt:</h3>

<table class="table table-info">
    <tr>
        <th>Gerätename</th>
        <th>IP</th>
        <th>MAC</th>
    </tr>
    @foreach (var host in ViewBag.Hosts)
    {
        <tr>
            <td>@host.HostId</td>
            <td>
                @if(host.Hostname != null)
                {
                    @foreach (var hostname in host.Hostname)
                    {
                        @hostname.name <br />
                    }
                }
            </td>
            <td>
                @if (host.Address != null)
                {
                    @foreach (var address in host.Address)
                    {
                        @address.addr <br />
                    }
                }
            </td>
        </tr>
    }
</table>
